define host{
    use         linux-server
    host_name   server{{ server_ip.split('.')[-1] }}
    alias       server
    address     {{ server_ip }}
}

define service{
    use                 local-service
    host_name           server{{ server_ip.split('.')[-1] }}
    service_description PING
    check_command       check_ping!100.0,20%!500.0,60%
}
