<?php
define('DB_NAME', '{{ mysql_db }}');
define('DB_USER', '{{ mysql_user }}');
define('DB_PASSWORD', '{{ mysql_password }}');
define('DB_HOST', 'localhost');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');


define('AUTH_KEY',         '54a96uHqSDGn@cu');
define('SECURE_AUTH_KEY',  '54a96uHqSDGn@cu');
define('LOGGED_IN_KEY',    '54a96uHqSDGn@cu');
define('NONCE_KEY',        '54a96uHqSDGn@cu');
define('AUTH_SALT',        '54a96uHqSDGn@cu');
define('SECURE_AUTH_SALT', '54a96uHqSDGn@cu');
define('LOGGED_IN_SALT',   '54a96uHqSDGn@cu');
define('NONCE_SALT',       '54a96uHqSDGn@cu');

$table_prefix = 'wp_';

define('WP_DEBUG', false);

if ( !defined('ABSPATH') )
    define('ABSPATH', dirname(__FILE__) . '/');
require_once(ABSPATH . 'wp-settings.php');
